@{
    ViewBag.Title = "Home Page";
}
<!--main-section-->
<section class="container-fluid" id="bg-main">
    <div class="row">
        <div class="col-lg-6 bg-dark text-center col-height">
            <div class="mt-5 pt-lg-4 display-4 font-weight-bold text-success">
                Super Track Urgent Care
            </div>
            <div class="display-4 text-success">
                Urgent Care & Walk-In Clinic located in Bellingham, WA & Point Roberts, WA
            </div>
            <div>
                <ul class="nav justify-content-center mt-4 mb-5">
                    <li class="nav-item pr-2 mt-2 mt-sm-0">
                        <a class="nav-link btn btn-success border-0 text-uppercase text-dark font-weight-sm" href="@Url.Action("Index","Contact")">call us</a>
                    </li>
                    <li class="nav-item pr-md-2 mt-2 mt-sm-0">
                        <a class="nav-link btn btn-success border-0 text-uppercase text-dark font-weight-sm" href="https://patientportal.advancedmd.com/137838/onlinescheduling/existing" target="_blank">book online</a>
                    </li>
                    <li class="nav-item mt-2 mt-md-0">
                        <a class="nav-link btn btn-success border-0 text-uppercase text-dark font-weight-sm" href="@Url.Action("Index","About")">learn more</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</section>
<!--/main section-->

<!--client review-->
<section class="container py-5">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active px-5">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="https://www.healthgrades.com/physician/dr-shahriar-bozorgzadeh-y7654" target="_blank" class="h3 font-weight-lighter mb-0 text-dark">
                                    "Excellent clinician; superb human being. Fantastic diagnostician!"
                                </a>
                            </div>
                            <div class="col-md-4 text-center mt-4 mt-md-0">
                                <div>
                                    <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>
                                </div>
                                <div class="mt-2">
                                    Verified Patient <span class="font-weight-bold text-muted">-Healthgrades</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item px-5">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="https://www.healthgrades.com/physician/dr-mahnaz-lary-x3mr6" target="_blank" class="h3 font-weight-lighter mb-0 text-dark">
                                    "Excellent all over!"
                                </a>
                            </div>
                            <div class="col-md-4 text-center mt-4 mt-md-0">
                                <div>
                                    <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>
                                </div>
                                <div class="mt-2">
                                    Verified Patient <span class="font-weight-bold text-muted">-Healthgrades</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item px-5">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="https://www.vitals.com/doctors/Dr_Mahnaz_Lary/reviews" target="_blank" class="h3 font-weight-lighter mb-0 text-dark">
                                    "Dr. Lary has been the most competent and caring physician I've ever had."
                                </a>
                            </div>
                            <div class="col-md-4 text-center mt-4 mt-md-0">
                                <div>
                                    <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>
                                </div>
                                <div class="mt-2">
                                    VERIFIED PATIENT <span class="font-weight-bold text-muted">-VITALS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item px-5">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="https://www.google.com/maps/place/Super+Track+Urgent+Care/48.744001,-122.4631777,17z/data=!3m1!4b1!4m7!3m6!1s0x0:0x8816b7a4ad4b1d3c!8m2!3d48.744001!4d-122.460989!9m1!1b1" target="_blank" class="h3 font-weight-lighter mb-0 text-dark">
                                    "Dr. Sean has a lot of experience. I'm thankful I chose his clinic."
                                </a>
                            </div>
                            <div class="col-md-4 text-center mt-4 mt-md-0">
                                <div>
                                    <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>  <span><i class="far fa-star text-white bg-success p-1 mr-1"></i></span>
                                </div>
                                <div class="mt-2">
                                    Mark D. <span class="font-weight-bold text-muted">-Google</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="position-absolute" aria-hidden="true" style="left:0"><i class="fas fa-chevron-left text-dark"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="position-absolute" aria-hidden="true" style="right:0"><i class="fas fa-chevron-right text-dark"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/client review-->

<!--about-->
@{
    Html.RenderPartial("_About");
}
<section class="container py-5 cards-height">
    <div class="row py-5">
        <div class="col-md-6 col-lg-4 text-center mb-4 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <img src="https://sa1s3optim.patientpop.com/assets/docs/42925.png" class="img-fluid" alt="Responsive image">
                    <div class="h4 my-3 font-weight-normal text-secondary">Quality Care</div>
                    <p class="text-secondary mb-0 h5 font-weight-normal">
                        From routine physicals to illness and injury treatments, our state-of-the-art clinic is equipped to take care of whatever ails you.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center mb-4 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <img src="https://sa1s3optim.patientpop.com/assets/docs/42924.png" class="img-fluid" alt="Responsive image">
                    <div class="h4 my-3 font-weight-normal text-secondary">Experience</div>
                    <p class="text-secondary mb-0 h5 font-weight-normal">
                        Our friendly and knowledgeable team of emergency room veterans are happy to help you get back on your feet.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center mb-4 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <img src="https://sa1s3optim.patientpop.com/assets/docs/42923.png" class="img-fluid" alt="Responsive image">
                    <div class="h4 my-3 font-weight-normal text-secondary">Family-Centered</div>
                    <p class="text-secondary mb-0 h5 font-weight-normal">
                        We treat every patient that walks through our door like family. Ensuring your well-being will always be at the core of everything we do.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/about-->

<!--services-->
@{ 
    Html.RenderPartial("_Services");
}
<!--/services-->

<!--walk ins welcome-->
<section class="walks-in-welcome">
    <div class="display-4 text-center text-white walks-in-welcome-text">Walk-Ins Welcome</div>
</section>
<!--/walks ins welcome-->

<!--client testimonial-->
@{
    Html.RenderPartial("_ClientTestimonial");
}
<!--/client testimonial-->

<!--our-locations-->
@{ 
    Html.RenderPartial("_OurLocations");
}
<!--/our-locations-->

