<section class="bg-light py-5">
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1771751.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1771727.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1771699.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1785282.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1790887.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1982208.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1785289.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1785292.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1786651.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1771832.png" class="img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4">
                <img src="https://sa1s3optim.patientpop.com/assets/images/provider/photos/1771737.png" class="img-thumbnail" alt="Responsive image">
            </div>
        </div>
    </div>
</section>
