<section id="client-testimonial">
    <div class="testimonial-bg"></div>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide testimonial-slider" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p class="h3 font-weight-lighter text-white text-center">
                        "AMAZING! I was seen within minutes and the staff is very friendly, happy to have you, and most importantly the providers are highly accredited and the best I've seen..."
                    </p>
                    <div class="text-center h4 font-weight-lighter mt-5 text-white">TAYLOR S.</div>
                </div>
                <div class="carousel-item">
                    <p class="h3 font-weight-lighter text-white text-center">
                        "From start to finish, it was all around an outstanding visit. The staff was kind, quick, and extremely capable. Facility was beautiful and modern, in a great location."
                    </p>
                    <div class="text-center h4 font-weight-lighter mt-5 text-white">ROSSTIN F.</div>
                </div>
                <div class="carousel-item">
                    <p class="h3 font-weight-lighter text-white text-center">
                        "Great experience at Super Track. Friendly staff, quick service, and excellent care! Very nice and clean facility with amazing doctors. Definitely would recommend!"
                    </p>
                    <div class="text-center h4 font-weight-lighter mt-5 text-white">GEORGIA D.</div>
                </div>
                <div class="carousel-item">
                    <p class="h3 font-weight-lighter text-white text-center">
                        "This clinic is fabulous. The facility is ultra modern with state-of-the-art equipment and the staff and Docs are super caring and attentive."
                    </p>
                    <div class="text-center h4 font-weight-lighter mt-5 text-white">ANDREA P.</div>
                </div>
            </div>
        </div>
    </div>
</section>
